body{
  margin:0;
  background:black;
}

#projects{
  display:grid;
  grid-template-columns:repeat(5, 300px);
  gap:20px;
  padding:40px;          /* tepadan va burchakdan uzoq */
}

.project{
  width:300px;
  height:300px;
  background-size:cover;
  background-position:center;
  border-radius:12px;
  border:2px solid #444; /* border */
  cursor:pointer;
  transition:0.3s;
}

.project:hover{
  transform:scale(1.05);
}
